<a href="https://colab.research.google.com/github/SwelteringCity/IBM-Data-Science/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook

# Data science languages

- Python
- R
- Julia
- Scala

# Data Science Libraries

## Python

- NumPy
- Pandas
- Matplotlib
- scikit-learn
- TensorFlow
- PyTorch

## R

- dplyr
- gplot2
- tidyr

| Language | Libraries/Tools               |
|----------|------------------------------|
| Python   | NumPy, Pandas, Matplotlib, scikit-learn, TensorFlow, PyTorch |
| R        | dplyr, ggplot2, caret, tidyr, randomForest |
| SQL      | SQL Server, MySQL, PostgreSQL, Oracle |
| Scala    | Apache Spark, MLlib |
| Julia    | Flux, MLJ, JuliaDB |
| SAS      | SAS Analytics, SAS Visual Data Mining and Machine Learning |
| MATLAB   | Statistics and Machine Learning Toolbox, Deep Learning Toolbox |
| Julia    | Flux, MLJ, JuliaDB |

# Arithmetic Expression Examples

Arithmetic expressions are mathematical calculations involving operators and operands. They allow us to perform various mathematical operations such as addition, subtraction, multiplication, and division. Here are some examples of arithmetic expressions:

## Addition
In this example, we add two numbers:
2+3=5

In [2]:
# Multiply and Add Numbers
num1 = 5
num2 = 7

# Multiply two numbers
product = num1 * num2
print("Product:", product)

# Add two numbers
sum = num1 + num2
print("Sum:", sum)

Product: 35
Sum: 12

In [ ]:
# Convert Minutes to Hours
minutes = 150

# Calculate hours
hours = minutes / 60

# Print the result
print("Minutes:", minutes)
print("Hours:", hours)

# Objectives

 - To understand the basics of markdown
 - To understand the basics of a jupyter notebook

## Author's name: SwelteringCIty